body
.line_center{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}

.line_space_around{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.column_center{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.line_end{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}
.line_start{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.line_space_between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}