header{
    width: 100%;
    height: 12%;    
    background-image: url(./../../../../images/grass.png);
    background-repeat: repeat;
    background-size: 150px 150px; /* img tipo pixel art */

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;


}

/*no header_info vai o logo e a ocupação*/
.header_info{
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    
}
.profile_logo{
    width: 12%;
    height: 50%;
    background-image:url(./../../../../images/image.perfil.png);
    background-size: cover; /* cobre toda a tela */
    background-position: center; /* centraliza a imagem */
}

.occupation{
    font-size:  4vh; 
    font-family: "VT323", monospace;
    margin:none
}


/*aqui é a class de todos botões*/

.buttons_header{
    width: 30%;
    height: 80%;
    display: flex;
    flex-direction: row;
    align-items:center ;
    justify-content: space-around;
    transform: scale(0.8);
}

/*aqui é a class que estiliza os botões*/
.button_header{
    width: 32%;
    height:40% ;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-radius:27%;

    background-color: #805b42;
}

.button {
    --bg: #000;
    --hover-bg: #9f7753;
    --hover-text: #000;
    color: #fff;
    cursor: pointer;
    border: 1px solid var(--bg);
    border-radius: 4px;
    padding: 0.8em 2em;
    background: var(--bg);
    transition: 0.2s;
  }
  
  .button:hover {
    color: var(--hover-text);
    transform: translate(-0.25rem, -0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem var(--bg);
  }
  
  .button:active {
    transform: translate(0);
    box-shadow: none;
  }



@media (max-width: 1200px){
    #buttons_header{
        width: 30%;
        height: 50%;
        display: flex;
        flex-direction: row;
        align-items:center ;
        justify-content: space-between;}
        
    #home{
            display: none;
        }
    
    #Github{
            display: none;
        }
    
     #Projetos{
            display: none;
        }
    #ocupation{
    font-size:  3vh; 
    }
    
    }

@media(max-width: 820px){
    #buttons_header{
        width: 30%;
        height: 50%;
        display: flex;
        flex-direction: row;
        align-items:center ;
        justify-content: space-between;}
        
    #home{
            display: none;
        }
    
    #Github{
            display: none;
        }

     #Projetos{
            display: none;
        }
    #ocupation{
    font-size:  3vh; 
}
    


}

@media(max-width: 480px ){
    header{     
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-left: 0; /* caso tenha padding do lado esquerdo */
        gap: 0; /* novo */}
           
          

    #buttons_header{
        width: 30%;
        height: 50%;
        display: flex;
        flex-direction: row;
        align-items: center ;
        justify-content: center;
        gap: 30%;
    }
#description{
    display: none;
    
}
    
    #home{
        display: none;
    }

    #Github{
        display: none;
    }

    #Projetos{
        display: none;
    }
}
